@import url("https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap");

.App {
  text-align: center;
  background-color: #1f2937;
}

.p-stepper-panels {
  background-color: #26454d;
  border-radius: 5px;
}

.p-stepper-title {
  display: none;
}
.image {
  display: flex;
  flex-direction: row; /* adjust this value as needed */
  justify-content: space-between;
  height: 470px; /* adjust this value as needed */
}

.submit-button {
  height: 40px; /* adjust this value as needed 2dd4bf 5eead4*/
  background-color: #2dd4bf; /* adjust this value as needed */
  color: black; /* adjust this value as needed */
  border-radius: 5px; /* adjust this value as needed */
  border: none;
  font-family: "Signika";
}
.container {
  display: flex;
  flex-direction: row; /* adjust this value as needed */
  justify-content: space-between;
}
.custom-file-upload .p-button-text {
  visibility: hidden;
}

.custom-file-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.my-upload-button .p-button {
  width: 200px !important;
  height: 40px !important;
}

.p-stepper-panels {
  display: flex;
  flex-direction: row; /* adjust this value as needed */
  justify-content: space-between;
  width: auto;
}
.submit-button:hover {
  background-color: #5eead4; /* adjust this value as needed */
  font-family: "Signika";
}

#pr_id_2_1_header_action {
  background-color: rgba(18, 42, 53, 0);
}
#pr_id_2_0_header_action {
  background-color: rgba(18, 42, 53, 0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.p-treeselect-header {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
